@font-face {
  font-family: "Mukta-Regular";
  src: url("fonts/Mukta-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Mukta-Light";
  src: url("fonts/Mukta-Light.ttf") format("opentype");
}

body {
  background: linear-gradient(135deg, #f77750, #f33a81, #30afdd, #1cdaad);
  background-size: 400vmax 400vmax;
  -webkit-animation: gradient 25s ease infinite;
          animation: gradient 25s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 25%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 75% 50%;
  }
  75% {
    background-position: 100% 75%;
  }
  100% {
    background-position: 25% 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 25%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 75% 50%;
  }
  75% {
    background-position: 100% 75%;
  }
  100% {
    background-position: 25% 0%;
  }
}

.container {
  padding: 0.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.7vw;
  margin: auto;
  -webkit-box-shadow: 0px 0px 100px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 100px 0px rgba(34, 60, 80, 0.2);
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 600px) {
  .container {
    width: 95%;
  }
}

@media screen and (min-width: 600px) and (max-width: 720px) {
  .container {
    width: 85%;
  }
}

@media screen and (min-width: 720px) and (max-width: 840px) {
  .container {
    width: 75%;
  }
}

@media screen and (min-width: 840px) and (max-width: 960px) {
  .container {
    width: 70%;
  }
}

@media screen and (min-width: 960px) {
  .container {
    width: 65%;
  }
}

h2 {
  font-family: "Mukta-Regular";
  font-size: 5vw;
  text-align: center;
}

input {
  font-family: "Mukta-Light";
  width: 75%;
  padding: 0.5vw;
  font-size: 2vw;
  border-radius: 0.2vw;
}

.AddSpan {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 25%;
  padding: 0.5vw;
  background: #d9d9d9;
  float: right;
  color: #555;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 2vw;
  border-radius: 0.2vw;
}

.AddSpan:hover {
  background-color: #999999;
}

.InputRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  padding: 0;
  font-family: "Mukta-Light";
  overflow-wrap: anywhere;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 3vw;
  border-radius: 0.5vw;
  list-style-type: none;
  cursor: pointer;
  font-size: 2vw;
}

@media (hover: hover) {
  li:hover .deleteRow {
    margin-left: 5px;
    visibility: visible;
  }
}

@media (hover: none) {
  li .deleteRow {
    visibility: visible;
  }
}

li:nth-child(odd) {
  background-color: rgba(219, 219, 219, 0.767);
}

li:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.767);
}

.deleteRow {
  color: black;
  visibility: hidden;
  padding: 5px;
  font-size: 2.5vw;
  -webkit-transition: margin-left 0.5s, visibility 0s;
  transition: margin-left 0.5s, visibility 0s;
}

.checked {
  color: gray;
  text-decoration: line-through;
}
/*# sourceMappingURL=styles.css.map */